body{
	background: #e5e5e5;
}
.main{
	width: 1200px;
	margin: 60px auto 0;
	border: 1px dashed blue;
}
.header{
	border: 1px dashed red;
	left: 0;
	right: 0;
}
.leftbox{
	min-height: 600px;
	border: 1px dashed green;
}
.newsbox{
	min-height: 400px;
	border: 1px dashed orange;
}
.rightbox{
	width: 210px;
	min-height: 600px;
	border: 1px dashed magenta;
}
.textbox{
	margin-right: 220px;
	border: 1px dashed darkorange;
}